img {
  width: 100%;
  height: auto;
  display: block;
}

/******* fonts ***********/
.courier-prime-regular {
  font-family: "Courier Prime", serif;
  font-weight: 400;
  font-style: normal;
}

.anaheim {
  font-family: "Anaheim", serif;
  font-weight: 300;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", serif;
  font-weight: 400;
  font-style: normal;
}

.stint-ultra-expanded-regular {
  font-family: "Stint Ultra Expanded", serif;
  font-weight: 400;
  font-style: normal;
}

/******* farver *******
Off white
#F2F2F2
Lyseblå
#D6EFFF 
Mørkerød
#690D00
Mørkeblå
#292D54
Blå
#3865FF
*************************/

main {
  background-color: #f2f2f2;
}

/***************index*****************/

.navn_billede {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.projekt_knap {
  width: 40%;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.projekt_knap:hover {
  transform: scale(1.1);
}
@media (min-width: 600px) {
  .forside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .navn_billede {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  .projekt_knap {
    width: 30%;
    margin-left: 6rem;
  }
  .forside p {
    margin: 0%;
    margin-left: 6rem;
  }
}

/***********Mine projekter******************/

.windows_img,
.hangers_img,
.sb_img,
.vaser_img {
  width: 60%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 40px;
  /* filter: blur(1.5px); */
}
.windows_img:hover {
  border: 5px solid #3865ff;
}
.hangers_img:hover {
  border: 5px solid #3865ff;
}
.sb_img:hover {
  border: 5px solid #3865ff;
}
.vaser_img:hover {
  border: 5px solid #3865ff;
}

.ux_ui_knap,
.ani_knap,
.web_knap,
.indhold_knap {
  width: 60%;
  margin-left: 5.5rem;
  margin-top: 0.5rem;

  top: 40%;
  left: 9%;
}
.indhold_knap {
  padding-bottom: 2rem;
}

.indhold_knap:hover {
  transform: scale(1.1);
}
.web_knap:hover {
  transform: scale(1.1);
}
.ani_knap:hover {
  transform: scale(1.1);
}
.ux_ui_knap:hover {
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .mine_projekter_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
  }

  .mine_projekter {
    width: 70%;
    margin: 0% auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .windows_img,
  .sb_img {
    margin-left: 8rem;
  }
  .vaser_img,
  .hangers_img {
    margin-right: 8rem;
  }

  .ani_knap,
  .web_knap {
    margin-left: 8rem;
  }
  .ux_ui_knap,
  .indhold_knap {
    margin: 0%;
    margin-left: 4.7rem;
    margin-top: 0.5rem;
  }

  /* .windows_img,
  .hangers_img,
  .sb_img,
  .vaser_img {
    width: 50%;
    margin: 0%;
    margin-bottom: 1rem;
  }
  .windows_img,
  .sb_img {
    margin-left: 20rem;
  }
  .hangers_img,
  .vaser_img {
    margin-left: 3rem;
  }
  .windows_img,
  .hangers_img {
    margin-top: 2rem;
  }
  .sb_img,
  .vaser_img {
    margin-bottom: 3rem;
  } */
}

/****************** web ******************/
h1 {
  font-family: "Stint Ultra Expanded", serif;
  font-weight: 400;
  color: #690d00;
  text-align: center;
  font-size: 32px;

  padding: 1rem;
}

h2 {
  font-family: "Stint Ultra Expanded", serif;
  font-weight: 300;
  color: #292d54;
  font-size: 24px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

p {
  font-family: "Raleway", serif;
  font-weight: 400;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 20px;
  color: #292d54;
  margin-bottom: 1rem;
}
hr {
  color: #292d54;
  margin-top: 2rem;
}

.web_grid img {
  width: 90%;
  margin: 0 auto;
}

.web_proces img {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

.computer_img {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.web_site {
  width: 40%;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.web_site:hover {
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .web_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  p {
    font-size: 16px;
    margin-left: 6rem;
    margin-right: 6rem;
    line-height: 22px;
    margin-bottom: 4rem;
  }
  .web_grid img {
    width: 60%;
    margin-top: 2rem;
  }
  h2 {
    margin-left: 6rem;
    margin-top: 6rem;
  }
  .web_proces {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .web_proces img {
    width: 60%;
  }
  .farvekoder_img {
    order: -1;
  }
  .web_læring {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .computer_img {
    width: 60%;
    margin-bottom: 2rem;
  }
  .web_site {
    width: 30%;
    margin-left: 5.5rem;
  }
  .web_læring p {
    margin: 0%;
    margin-left: 6rem;
  }
}

/*************** indhold *****************/

.wear_aware img {
  width: 40%;
  margin-top: 2rem;
  margin: 0 auto;
}

.proto_forside {
  width: 70%;
  margin-top: 2rem;
  margin: 0 auto;
}

.proces_billeder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.wa_moodboard {
  width: 96%;
  margin-top: 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.ux_ui_site {
  width: 40%;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.ux_ui_site:hover {
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .wear_aware {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .wear_aware img {
    width: 40%;
    margin-top: 7rem;
  }
  .proces_wa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .proces_wa img {
    width: 40%;
    margin-top: 2rem;
  }
  .proto_forside {
    margin: 0%;
    margin-left: 10rem;
  }
  .proces_billeder {
    order: -1;
  }
  .læring_wa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .wa_moodboard {
    width: 80%;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .læring_wa p {
    margin: 0%;
    margin-left: 6rem;
  }
  .ux_ui_site {
    width: 30%;
    margin-left: 5.5rem;
    margin-bottom: 4rem;
  }
}

/*************** animation **************/

.animation_tema img {
  width: 95%;
  margin: 0 auto;
}
.aktivitetsdiagram img {
  width: 90%;
  margin: 0 auto;
}
.java_kode {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.ani_website_knap {
  width: 40%;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.ani_website_knap:hover {
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .animation_tema {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .animation_tema img {
    width: 70%;
    margin-top: 2.2rem;
  }
  .animation_proces {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .aktivitetsdiagram {
    order: -1;
  }
  .aktivitetsdiagram img {
    width: 60%;
    margin-top: 2rem;
  }
  .animation_proces h2 {
    margin-top: 9rem;
  }
  .animation_laering {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .java_kode {
    margin-top: 7rem;
    width: 80%;
  }
  .animation_laering p {
    margin: 0%;
    margin-left: 6rem;
  }
  .ani_website_knap {
    width: 30%;
    margin-left: 5.5rem;
    margin-bottom: 4rem;
  }
}

/******************indhold*******************/

.indhold_tema img {
  width: 95%;
  margin: 0 auto;
}
.sara img {
  width: 90%;
  margin: 0 auto;
}
.butik_img {
  width: 90%;
  margin: 0 auto;
}
.laering_indhold img {
  width: 50%;
  margin-left: 2rem;
  padding-bottom: 2rem;
}
.passion_site_knap {
  width: 40%;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.passion_site_knap:hover {
  transform: scale(1.1);
}
.virksomhedssite_knap {
  width: 40%;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.virksomhedssite_knap:hover {
  transform: scale(1.1);
}
@media (min-width: 600px) {
  .indhold_tema {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .passion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .virksomhedssite {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .laering_indhold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .indhold_tema img {
    width: 70%;
    margin-top: 2.6rem;
  }
  .sara {
    order: -1;
  }
  .sara img {
    width: 60%;
    margin-top: 2rem;
  }
  .butik_img {
    width: 70%;
    margin-top: 3.2rem;
  }
  .laering_indhold img {
    width: 80%;
    margin-top: 4rem;
  }
  .illustration {
    order: -1;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .virksomhedssite_knap {
    width: 30%;
    margin-left: 5.5rem;
    margin-bottom: 4rem;
  }
  .passion_site_knap {
    width: 30%;
    margin-left: 5.5rem;
    margin-bottom: 4rem;
  }
  .passion p {
    margin: 0%;
    margin-left: 6rem;
    margin-right: 4rem;
  }
  .virksomhedssite p {
    margin: 0%;
    margin-left: 6rem;
  }
}

/*******************Astrid***************/

.astrid_main {
  background: url(billeder/astrid_baggrund.webp) no-repeat center/cover;
}
.mit_navn {
  margin: 0% auto;
  width: 90%;
  padding-top: 2rem;
  margin-bottom: 1.5rem;
}

.om_mig p {
  margin-right: 0.2rem;
}
.mig {
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 5px solid #3865ff;
}

.uddannelse {
  background-color: #d6efff;
  padding-bottom: 2rem;
}
.uddannelse h2 {
  padding-top: 2rem;
}
.uddannelse p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.uddannelse img {
  width: 80%;
  margin: 0 auto;
  border: 5px solid #3865ff;
}
.skills {
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
}
.natur_collage {
  width: 90%;
  margin: 0% auto;

  border: 5px solid #3865ff;
}
.natur {
  padding-bottom: 2rem;
}
.skills_grid p {
  margin-bottom: 1rem;
  text-align: center;
}
.skills2_grid p {
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 600px) {
  .om_mig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .mig {
    width: 50%;
    margin-top: 8rem;
    margin-bottom: 5rem;
  }
  .mit_navn {
    margin-top: 7rem;
    margin-left: 6rem;
    width: 70%;
  }
  .uddannelse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .textilskolen_grid {
    order: -1;
  }
  .textilskolen_grid img {
    width: 50%;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .uddannelse h2 {
    margin-top: 7rem;
    margin-bottom: 2rem;
  }
  .uddannelse p {
    line-height: 40px;
  }

  .skills_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  .skills {
    text-align: center;
    margin: 0%;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }

  .skills2_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .skills2_grid p {
    text-align: center;
    margin-bottom: 4rem;
  }
  .natur_collage {
    width: 70%;
    margin-bottom: 2rem;
  }
}

/************ footer *************/

footer {
  position: relative;
  background-color: #690d00;
  padding: 2px;
  height: 250px;
  display: flex;
  justify-content: space-between;
}
.tekst_multi_footer {
  position: absolute;
  top: 5px;
  left: 1px;
  color: #d6efff;
  font-family: "Stint Ultra Expanded", serif;
  text-align: left;
  font-size: 15px;
}
.navigation a {
  position: absolute;
  right: 2px;
  padding-top: 1rem;
  padding-right: 0.5rem;
  text-decoration: none;
  color: #d6efff;
  font-family: "Stint Ultra Expanded", serif;
  font-size: 12px;
}
.tekst_navn_footer {
  position: absolute;
  left: 1px;
  bottom: 5px;
  color: #d6efff;
  text-align: left;
  font-size: 10px;
}
.footer_nav_1 a:hover {
  color: #3865ff;
}

.footer_nav_2 a:hover {
  color: #3865ff;
}
.footer_nav_1 li {
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .tekst_multi_footer {
    font-size: 40px;
  }
  .tekst_navn_footer {
    margin: 0%;
    bottom: 10px;
    font-size: 20px;
    left: 15px;
  }
  .navigation a {
    right: 20px;
    font-size: 15px;
    margin-top: 1rem;
  }
}
